@model Yandex.Taximeter.Admin.Areas.test.Models.TestScriptModel
<div class="row">
    <div class="col-md-8 col-sm-offset-2">
        <h2>Проверка скрипта</h2>
        @if (!ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary("Ошибка", new { @class = "alert alert-danger", role = "alert", style = "white-space:pre-wrap;" }, "div")
        }
        else if (Equals(true, ViewBag.Success))
        {
            <div class="success alert-success">Компиляция скрипта выполнена успешно</div>
        }
        @using (Html.BeginForm("Script", "Test", FormMethod.Post, new { @class = "form-inline", enctype = "multipart/form-data", style = "margin-top:10px;" }))
        {
            <table class="table table-bordered table-hover table-center">
                <colgroup>
                    <col width="30%" />
                    <col width="70%" />
                </colgroup>
                <tbody>
                    <tr>
                        <td>
                            @Html.LabelFor(x => x.Url, "Url: ")
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.Url, new { @class = "form-control w500" })
                        </td>
                    </tr>
                <tr>
                    <td>
                        <label for="scriptFile">Или файл:</label>    
                    </td>
                    <td>
                        <input type="file" class="form-control w500" name="scriptFile" id="scriptFile" accept=".cs">
                    </td>
                </tr>
                    <tr>
                        <td colspan="2"  style="text-align: right;">
                            <button type="submit" class="btn btn-default btn-success" name="type" value="check">Проверить</button>
                        </td>
                    </tr>
                    @if (StaticHelper.IsTesting())
                {
                        <tr>
                            <td>
                                @Html.LabelFor(x => x.Args, "Аргументы: ")
                            </td>
                            <td>
                                @Html.TextBoxFor(x => x.Args, new { @class = "form-control w500" })
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: right;">
                                <button type="submit" class="btn btn-default btn-success" name="type" value="run">Запустить</button>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
    </div>

</div>